.header {
    background-color: #363636 !important;
    color: whitesmoke !important;
}
.km-filter:before,
.km-filter:after {
    content: "\e077"
}
.km-sale:before,
.km-sale:after {
    content: "\e0c4"
}
.km-basket:before,
.km-basket:after {
    content: "\e0d1"
}
.km-flat .km-list>li {
    background-color: black;
    color: whitesmoke;
    font-weight: normal;
    padding-bottom: 5px;
}
.km-flat,
.km-flat .km-navbar,
.km-flat .km-detail,
.km-flat .km-content {
    color: whitesmoke;
    background-color: black;
}
.km-flat .km-group-title {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
.items {
    float: left;
    font-weight: normal;
    width: 40%;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.prices {
    margin-top: 6%;
    float: right !important;
    border-color: whitesmoke !important;
    border-width: 0.1em !important;
    border-radius: 5px !important; 
    margin-right: 7px;
}
.priceCount {
    float:right;
    display: none;
    margin-top:6%;
    margin-right:10px;
    border:1px solid rgb(245, 245, 245);
    border-radius:12px;
    text-align:center;
}
.prices-clicked {
    float: right !important;
    border-color: whitesmoke !important;
    border-width: 0.1em !important;
    border-radius: 5px !important;
    margin-right: 0 !important;
    background-color: whitesmoke !important;
    color: black !important;
}
.description {
    float: left;
    color: rgb(153, 147, 147);
    font-size: 0.8em;
    display: block;     
    padding-top: 1px;
}
.left {
    margin-left: 0px !important;
    color: grey;
}
.delivery {
    border-color: whitesmoke !important;
    border-width: 0.1em !important;
    border-radius: 5px !important;
}
.adv {
    height: 38px;
    width: 120px;
    padding-top: 10px !important;
}
.finish {
    color: #EEB422;
    margin-left: 10px;
    float: left;
}
/*При возникновении ошибки*/

.tooltip {
    /*visibility: hidden;
    display: none;*/
    
    display: none;
    position: absolute;
    /*bottom: 30px;*/
    
    color: whitesmoke;
    left: 50%;
    z-index: 999;
    width: 230px;
    margin-left: -127px;
    padding: 10px;
    border: 2px solid #ccc;
    opacity: .9;
    background-color: black;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}
input[type=search] {
    background-color: dimgray !important;
    color: whitesmoke !important;
    border-radius: 10px !important;
    font-weight: normal !important;
    font-size: 12px !important;
    height: 30px;
    text-align: center;
}
#leftL {
    border-color: whitesmoke;
    border-radius: 10px 0px 0px 10px;
}
#rightL {
    border-color: whitesmoke;
    border-radius: 0px 10px 10px 0px;
}
.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
    background-color: black;
}
.km-list>li {
    padding: 0px;
    line-height: 2.6em;
}

/*хер знает для чего*/
.km-android .km-view {
    -moz-box-direction: initial;
    -webkit-box-direction: initial;
    -ms-box-direction: initial;
    box-direction: initial;
}

/*li>div {
    border: 1px solid;
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
}*/
li>div>a {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
li>div>a:nth-child(1) {
    border-right: 1px solid
}
li>div>a::nth-child(2) {
    border-left: 1px solid
}
.km-flat .km-list>li {
    border-style: none;
}
li>div>span {
    padding: 5px;
}
.km-group-title {
    margin-top: 0px;
}
/*Получаем доступ к placeholder всех инпутов*/

.border-validate::-webkit-input-placeholder {
    /*color: #d9534f*/
    color: gray;
}
.border-validate::-moz-placeholder {
    /*color: #d9534f*/
    color: gray;
}

/*Режим портрет для маленьких смартфонов*/
@media screen and (orientation: portrait) and (min-width: 240px) and (max-width: 281px) {
    .item-center {
        float: left;
        width: 139px;
    }
}

/*Режим портрет для средних смартфонов*/
@media screen and (orientation: portrait) and (min-width: 281px) and (max-width: 349px) {
    .item-center {
        float: left;
        width: 139px;
    }
}

/*Режим портрет для больших смартфонов*/
@media screen and (orientation: portrait) and (min-width: 350px) and (max-width: 500px) {
    .item-center {
        float: left;
        width: 180px;
    }
}

