<div data-role="view" id="filterView" data-show="app.filterViewInit">
        <div class="head">&nbsp;</div>
        <ul id="select-filter">
            <li id="leftL">
                Разделы
            </li>
            <li id="rightL">
                Ингридиенты
            </li>
        </ul>
        <ul data-role="listview" data-style="inset">
            <li><a data-role="button" href="index.html#суши">Суши</a></li>
            <li>Супы</li>
            <li><a data-role="button" href="#main-view#h1">Роллы</a>
            </li>
            <li>Салаты</li>
            <li>Нори</li>
        </ul>
        <ul data-role="listview" data-style="inset" style="display:none">
            <li>Лосось</li>
            <li>Угрь</li>
            <li>Мясо краба</li>
            <li>Креветки</li>
        </ul>
    </div>